<%= form_with(model: person, data: { controller: 'nested-form', 
    nested_form_wrapper_selector_value: '.nested-form-wrapper'}) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :idade, style: "display: block" %>
    <%= form.number_field :idade %>
  </div>

  <br>
  <div class="field">
    <template data-nested-form-target="template">
      <%= form.fields_for :contacts, Contact.new, child_index: 'NEW_RECORD' do |contact_fields| %>
        <%= render "contact_form", f: contact_fields %> 
      <% end %>
    </template>

		<%= form.fields_for :contacts do |contact_fields| %>
      <%= render "contact_form", f: contact_fields %> 
    <% end %>

    <!--Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add">Add Contact</button>
  </div>
  
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
